h1 {
font-family: "Droid Serif", sans-serif;
font-weight: 400;
}

p {
font-family: "Droid Serif", sans-serif;
}

body {
	text-align: center;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

a:link, a:visited {
	text-transform: uppercase;
	text-decoration: none;
}